.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    z-index: 2;
}

.navbar-logo {}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-right: 10px;
}

.nav-link {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    margin: 20px;
}

.user-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #333;
    overflow: hidden;
    margin-right: 10px;
}

.user-icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user-dropdown {
    position: relative;
}

.dropdown-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.dropdown-content {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
}

.dropdown-link {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.dropdown-link:hover {
    background-color: #f0f0f0;
}

.user-dropdown:hover .dropdown-content {
    display: block;
}

.logout-btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}

.logout-btn:hover {
    text-decoration: underline;
}